body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#baner {
    background-color: rgb(66, 22, 42);
    color: white;
    font-size: 140%;
    text-align: center;
    height: 100px;
    line-height: 100px; 
}


main {
    display: flex;
}


#panel-lewy {
    background-color: rgb(142, 115, 110);
    color: white;
    width: 30%;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
}


#panel-prawy {
    background-color: rgb(230, 230, 20);
    width: 70%;
    height: 600px;
    font-size: 120%;
    padding: 10px;
    box-sizing: border-box;
}


#stopka {
    background-color: rgb(142, 115, 110);
    color: white;
    text-align: right;
    height: 100px;
    line-height: 100px; 
    padding-right: 20px;
}